<script>
let maVar;
ask = function() {
    maVar = window.prompt("What is your name ?");
}
print = function() {
    ask = maVar;
    window.alert("my name is " + ask);
}
</script>
<button onclick="ask();">Demander</button>
<button onclick="print();">Afficher</button>

